message-form {
    form {
        padding: 0;
        border: 1px solid;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.05);
    }

    .receiver-wrapper {
        float: left;
        cursor: pointer;
        margin: 13px 0 13px 8px;

        .receiver-box {
            padding: 3px 6px;
            background: lightgray;
            border: 1px solid gray;
            border-radius: 3px;
            margin-right: 3px;
            color: #191919;
        }

        .clear-receiver-icon {
            font-size: 12px;
            color: color($colors, 'accent');
        }
    }

    .message-wrapper {
        overflow: hidden;
        width: auto;
    }
}
