<form #submitMessageForm="ngForm" (ngSubmit)="messageSubmitted(submitMessageForm.value)" novalidate>
    <div *ngIf="receiver" (click)="closePm()" class="receiver-wrapper">
        <span class="receiver-box">
            <span class="receiver-presented">
                {{receiver}}
            </span>
            <ion-icon name="close" class="clear-receiver-icon"></ion-icon>
        </span>
    </div>
    <div class="message-wrapper">
        <ion-input #input [(ngModel)]="message"
                   [disabled]="_isMuted"
                   [class.is-muted]="_isMuted"
                   placeholder="{{ _isMuted ? 'You are muted for ' + this._muteTimeout / 1000 + ' seconds' : '' }}"
                   (keydown)="messageKeyDown($event)"
                   type="text"
                   name="message"
                   class="message-input" ngModel></ion-input>
    </div>
</form>
