// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.content {
    background-color: color($colors, tertiary);
}

.error {
    background: color($colors, danger);
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.loading-wrapper {
    .loading-content {
        color: color($colors, dark);

    }

    .spinner {
        circle {
            stroke: color($colors, dark);
        }
    }
}

ion-item.item-block.item-input.stripped,
ion-item.item-block.stripped {
    padding: 0;
    min-height: 1.5rem;
    border-radius: 2px;

    div.item-inner {
        padding: 0;
        border: none !important;
        box-shadow: none !important;

        div.input-wrapper {
            ion-label {
                margin: 0;
                padding: 1rem;
            }

            .text-input {
                margin: 0;
                padding: 1rem;
            }
        }
    }
}

.toast-container {
    background-color: color($colors, 'dark');
}
